<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/blog/create" method="post" id="blogForm">
        <input type="text" placeholder="enater title" id="title" name="title" value="<%= edit ? data.title : '' %>">
        <input type="text" placeholder="content" id="content" name="content">
        <input type="url" placeholder="image" id="image" name="image">
        <input type="text" placeholder="category" id="category" name="category">
        <button type="submit" id="add"><%= edit ? 'Edit' : 'Submit' %></button>
    </form>
</body>
<script>
    
</script>
</html>