<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./style.css">
    <style>
        .visible{
            display: none;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <div class="row justify-content align-items">
                <div class="logo">
                    <h1>jeel</h1> 
                </div>
                <nav>
                    <ul class="row">
                        <li><a href="">home</a></li>
                        <li><a href="">Blog</a></li>
                        <li id="post"><a href="">Blog Post</a></li>
                        <li><a href="">home</a></li>
                    </ul>
                </nav>
                <div class="btnh">
                    <a href="/user/signup" id="Signup"><button>Signup</button></a>
                    <a href="/user/login" id="Login"><button>Login</button></a>
                </div>
            </div>
        </div>
    </header>
    <script>

           const myCookieValue = document.cookie.split(";")
         if(myCookieValue.includes("role=user")){
            let data=document.getElementById("post")
            console.log(data);
            data.classList.add("visible")
         }else{
            document.getElementById("post").classList.remove("visible")
         }
    </script>
</body>
</html>