<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/blog/">Home</a></li>
                    <li><a href="/blog/create">add blog</a></li>
                    <li><a href="/user/singup">signup</a></li>
                    <li><a href="/user/login">login</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>